/*******************search-popup***********************/
.search-popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9999999;
	background-color: rgba($color-black, .9);
	visibility: hidden;
	opacity: 0;
	@include prefix("transition", all .3s cubic-bezier(0.645, 0.045, 0.355, 1), moz webkit o);
	z-index: 9999999;
	&.menu-show {
		visibility: visible;
		opacity: 1;
	}
}