/*******************about-v1***********************/
.about-v1 {
	margin-bottom: 4rem;
	&__pic {
		margin-bottom: 1.6rem;
		img {
			max-width: 100%; 
			height: auto;
		}
	}
	&__name {

	}
	&__sub {
		margin-bottom: 1.6rem;
	}
	&__paragraph {

	}
}