/*******************call-v2***********************/
.call-v2 {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;

	border: 1px solid rgba($color-black, .12);
	padding: 3.2rem 0;

	&__text {
		margin: auto 1.2rem;
		text-align: center;
	    @include responsive(SS){
	    	@include typo-h5;
	    }
	    @include responsive(XS){
	    	@include typo-h5;
	    }
	    @include responsive(SM){
	    	@include typo-h5;
	    }
	    @include responsive(MD){
	    	@include typo-h5;
	    }
	    @include responsive(LG){
	    	@include typo-h5;
	    }
	    @include responsive(XL){ 
	    }		
	}
	&__btn {
		margin: 1.6rem 1.2rem;
	}
}






