/*******************hero***********************/
.hero {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	&__title {
		margin-bottom: 1.6rem;
		text-align: center;
		@include responsive(SS){
			@include typo-h3;
		}
		@include responsive(XS){
			@include typo-h3;
		}
		@include responsive(SM){
			@include typo-h3;
		}
		@include responsive(MD){
			@include typo-h3;
		}
		@include responsive(LG){
		}
		@include responsive(XL){
		}			
	}
	&__sub-title {
		text-align: center;
	}
}