/*******************item-v2***********************/
.item-v2 {
	border-radius: 4px;
	padding: 1.6rem;
	position: relative;
	overflow: hidden;
	margin-bottom: 4rem;

	@include effectGetUp_placeOutHover;

	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: flex-start;



	&:hover {
		@include effectGetUp_placeInHover;
	}

	&:hover &__picture img {
		@include effectZoomRotate_placeInHover;
	}
	&:hover &__picture:after {
		@include effectCurtainDownNew_placeInHover;
	}
	&:hover &__picture:before {
		@include effectCurtainUpNew_placeInHover;
	}
	
	&__side {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;

		position: relative;


		
	}
	
	&__name {
		margin-bottom: .4rem;
	}
	&__date-cate {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;

	}


	
	&__picture {
		overflow: hidden;

		width: 100%;
		max-width: 8rem;
		position: relative;

		margin-left: 1.6rem;


		img {
			height: auto;
			max-width: 100%;

			@include effectZoomRotate_placeOutHover();
		}

		&:before {
			@include effectCurtainUpNew_placeOutHover();

		}
		&:after {
			@include effectCurtainDownNew_placeOutHover();

		}
		
	}
	
	
	
}