/*******************mini-sale***********************/
.mini-sale {
	margin-bottom: 2.8rem;
	&__side {
		position: relative;

		@include prefix("transition", all 0.3s, moz webkit o);
		&:hover {
			@include elevation4;
		}
	}
	&__link {

	}
	&__img {
		width: 100%;
		height: auto;
	}
	&__content {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 9;
		
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		align-items: center;

	}
	&__title {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		margin-right: 7%;

		@include responsive(SS){
			margin-right: 8%;
		}
		@include responsive(XS){
			margin-right: 8%;
		}
		@include responsive(SM){
			margin-right: 11%;
		}
		@include responsive(MD){
			margin-right: 3%;
		}
		@include responsive(LG){
			margin-right: 4%;
		}
		@include responsive(XL){
		}	
		
		span {
			text-align: center;
		}

		span:first-child {
			margin-bottom: .8rem;
		}
	} 
}