/*******************ship-info***********************/
.ship-info {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	margin-bottom: 4rem;
	border-radius: 4px;
	padding: 1.6rem;
	position: relative;

	@include effectGetUp_placeOutHover();

	@include responsive(SS){
		flex-direction: column;
	}
	@include responsive(XS){
		flex-direction: column;
	}
	@include responsive(SM){
		flex-direction: column;
	}
	@include responsive(MD){
		flex-direction: column;
	}
	@include responsive(LG){
	}
	@include responsive(XL){
	}	
	&:hover {
		@include effectGetUp_placeInHover;
	}

	&:hover &__icon--child {
		@include effectShadowCircleIconZoomText_placeInHover;
	}
	&:hover &__icon--parent {
		@include effectShadowCircleIconBorderOutBlack_placeInHover;
	}
	&:hover &__icon--parent:after{
		@include effectShadowCircleIconBorderInsideBlack_placeInHover;
	}

	&__icon {
		margin-left: 1.6rem;

		@include responsive(SS){
			margin-left: 0;
			margin-bottom: 1.2rem;
		}
		@include responsive(XS){
			margin-left: 0;
			margin-bottom: 1.2rem;
		}
		@include responsive(SM){
			margin-left: 0;
			margin-bottom: 1.6rem;
		}
		@include responsive(MD){
			margin-left: 0;
			margin-bottom: 1.6rem;
		}
		@include responsive(LG){
		}
		@include responsive(XL){
		}	

		&--parent {
			width: 7.2rem;
			height: 7.2rem;
			border-radius: 50%;

			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			position: relative;
			
			

			@include effectShadowCircleIconBorderOutBlack_placeOutHover;

			&:after {
				content: "";
			    top: 0;
			    left: 0;
			    width: 100%;
			    height: 100%;
			    position: absolute;
			    border-radius: 50%;
				@include effectShadowCircleIconBorderInsideBlack_placeOutHover;
			}
		}


		&--child {
			font-size: 4rem;
			color: $color-primary-hi;
			@include responsive(SS){
			}
			@include responsive(XS){
			}
			@include responsive(SM){
			}
			@include responsive(MD){
			}
			@include responsive(LG){
			}
			@include responsive(XL){
			}

			@include effectShadowCircleIconZoomText_placeOutHover;					
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		@include responsive(SS){
			align-items: center;
		}
		@include responsive(XS){
			align-items: center;
		}
		@include responsive(SM){
			align-items: center;
		}
		@include responsive(MD){
			align-items: center;
		}
		@include responsive(LG){
		}
		@include responsive(XL){
		}		
		
	}
	&__name {
		margin-bottom: .4rem;
		@include responsive(SS){
			text-align: center;
		}
		@include responsive(XS){
			text-align: center;
		}
		@include responsive(SM){
			text-align: center;
		}
		@include responsive(MD){
			text-align: center;
			@include typo-subtitle1;
		}
		@include responsive(LG){
			@include typo-subtitle1;
		}
		@include responsive(XL){
		}
	}
	&__paragraph {
		@include responsive(SS){
			text-align: center;
		}
		@include responsive(XS){
			text-align: center;
		}
		@include responsive(SM){
			
			text-align: center;
		}
		@include responsive(MD){
			text-align: center;
			@include typo-body2;
		}
		@include responsive(LG){
			@include typo-body2;
		}
		@include responsive(XL){
		}		
	}
	&__line {
		width: 6rem;
		height: 1px;
		background-color: rgba($color-black, 0.12);
		margin: 0.8rem 0 2rem;
		@include responsive(SS){
			margin: 0rem 0 2rem;
		}
		@include responsive(XS){
			margin: 0rem 0 2rem;

		}
		@include responsive(SM){
		
			margin: 0rem 0 2rem;
		}
		@include responsive(MD){
			margin: 0rem 0 2rem;
		}
		@include responsive(LG){
		}
		@include responsive(XL){
		}
	}
	&__btn {

	}
}