/*******************show-case-light***********************/
.show-case-light {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;



	&__title {
		margin-bottom: 4.8rem;
		text-align: center;
		@include responsive(SS){
			// @include typo-h5;
		}
		@include responsive(XS){
			// @include typo-h5;
		}
		@include responsive(SM){
		}
		@include responsive(MD){
		}
		@include responsive(LG){
		}
		@include responsive(XL){
		}	

	}
	&__btn {
		margin-bottom: 6.4rem;	
	}
	
	&__hero {
		@include filterDropShadow2;
		height: auto;
		margin: 0 auto -6rem;
		max-width: 100%;
	}
}