/*******************sign***********************/
.sign {
	&__title {
		margin-bottom: 4rem;
	}

	&__tip {
		margin-bottom: .8rem;
	}

	&__form {
		display: flex;
		flex-direction: row; 
		flex-wrap: wrap;
		margin-bottom: 4rem;

		width: 100%;
	}

	&__group {
		width: 100%;
		position: relative;
	}
	&__input {
		padding: 1.2rem 1.6rem;
		border: 1px solid $color-black-md;
		border-radius: 4px; 
		background-color: $color-white;
		width: 100%;

		&:focus {
			outline: none; 
			@include elevation2;
			&:invalid {
				border: 1px solid $color-danger-border;
			}
		}

		@include input-placeholder{
			color: $color-black-md;
		}

		&:placeholder-shown + .sign__label{
			opacity:0;
			visibility: hidden;
			@include prefix("transform", translateY(-4rem), moz webkit ms o);
		}
	}
	&__select {
		padding: 1.6rem 1.6rem;
		border: 1px solid $color-black-md;
		border-radius: 4px; 
		background-color: $color-white;
		width: 100%;

		&:focus {
			outline: none;
			@include elevation2;
			&:invalid {
				border: 1px solid $color-danger-border;
			}
		}

		@include input-placeholder{
			color: $color-black-md;
		}

		& + .sign__label{
			opacity:0;
			visibility: hidden;
			@include prefix("transform", translateY(-4rem), moz webkit ms o);
		}

		&:focus + .sign__label{
			opacity:1;
			visibility: visible;
			@include prefix("transform", translateY(0rem), moz webkit ms o);
		}
	}

	&__label {
		opacity:1;
		visibility: visible;
		margin-left: 1.6rem;
		margin-top: .4rem;
		margin-bottom: .4rem;
        @include prefix("transition", all .3s, moz webkit o);
	}
	&__wrap {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;

		margin-bottom: 2.8rem;
	}	

	&__btn {
		margin-right: 1.6rem;
	}

	

	&__checkbox {

		

		&--group {
			margin-right: 8rem;
			display: inline-block;
			@include prefix("user-select", none, moz webkit ms);

			@include responsive(SS){
				margin-right: 1.2rem;
			}
			@include responsive(XS){
				margin-right: 1.2rem;
			}
			@include responsive(SM){
				margin-right: 3.2rem;
			}
			@include responsive(MD){
			}
			@include responsive(LG){
			}
			@include responsive(XL){
			}				
		}
		&--label{
			cursor: pointer;
			position: relative;
			padding-left: 28px;

		}
		&--button{
			height: 20px;
			width: 20px;
			border-radius: 4px;
			border: 2px solid $color-black-hi;
			display: inline-block;
			position: absolute;
			left: 0;
			top: 50%;
			@include prefix("transform", translateY(-50%), moz webkit ms o);
		}
		&--button:after{
			content: "";
			width: 5px;
	  		height: 10px;
			border: solid $color-black-hi;
			border-width: 0 2px 2px 0;

			display: block;
			position: absolute;
			left: 50%;
			top: 50%;
			@include prefix("transform", translate(-50%, -50%) rotate(45deg), moz webkit ms o);
			opacity: 0;
		}
		&--input {
			display: none;
		}
		&--input:checked +  &--label  &--button:after{
			opacity: 1;
		}		
	}

	&__captcha {
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 5.6rem;
	}
	&__paragraph {
		margin-bottom: 2.8rem;
	}
	
	&__slider {
		
		position: relative;
		margin-bottom: 4rem;

		&:hover .sign__slider--prev,
		&:hover .sign__slider--next {
			opacity: 1;
		}		

		&--viewport {
			@include prefix("transition", all 1s ease, moz webkit o);
			li {
				display: none;
				-webkit-backface-visibility: hidden;
				a {
					
					img {
					  	max-width: 100%;
						display: block;
					  	height: auto;
		  				@include prefix("user-select", none, moz webkit ms);

						@include responsive(SS){
						}
						@include responsive(XS){
						}
						@include responsive(SM){
						}
						@include responsive(MD){
						}
						@include responsive(LG){
						}
						@include responsive(XL){
						}	  				
					}				
				}

			}
		}
		
		&--prev {
			position: absolute;
			top: 50%;
			left: 2rem;
			opacity: 0;
			@include prefix("transform", translateY(-50%), moz webkit ms o);
			@include prefix("user-select", none, moz webkit ms);
			cursor: pointer;
			display: block;

			width: 4.8rem;
			height: 4.8rem;
			@include prefix("user-select", none, moz webkit ms);
			@include prefix("filter", drop-shadow( 0px 0px 2px rgba(0,0,0,0.1) ), webkit);

			@include prefix("transition", all .6s ease, moz webkit o);


			@include responsive(SS){
			}
			@include responsive(XS){
			}
			@include responsive(SM){
			}
			@include responsive(MD){
			}
			@include responsive(LG){
			}
			@include responsive(XL){
			}	


			&.showMxm {
				left: .4rem;
			}

			i {
				position: absolute;
				top: 2.1rem;
				left: 1rem;
				width: 2.2rem;
				height: .5rem;
				border-radius: .25rem;
				background: $color-black-md;
				@include prefix("transition", all 0.15s ease, moz webkit o);

				transform-origin: 0% 50%
			}

			@include arrowTransform( 40deg, 0, -.1rem );

			&:hover {
				@include arrowTransform( 30deg, 0, -.1rem );
			}

			&:active {
				@include arrowTransform( 25deg, 0rem, -.1rem );
			}

		      

		    
	  	}
		
		&--next {
			position: absolute;
			top: 50%;
			right: 2rem;
			opacity: 0;
			@include prefix("transform", translateY(-50%), moz webkit ms o);
			@include prefix("user-select", none, moz webkit ms);
			cursor: pointer;
			display: block;

			width: 4.8rem;
			height: 4.8rem;
			@include prefix("user-select", none, moz webkit ms);
			@include prefix("filter", drop-shadow( 0px 0px 2px rgba(0,0,0,0.1) ), webkit);

			@include prefix("transition", all .6s ease, moz webkit o);

			@include responsive(SS){
			}
			@include responsive(XS){
			}
			@include responsive(SM){
			}
			@include responsive(MD){
			}
			@include responsive(LG){
			}
			@include responsive(XL){
			}			

			&.showMxm {
			  right: .4rem;
			}

			i {
			  position: absolute;
			  top: 2.1rem;
			  right: 1rem;
			  width: 2.2rem;
			  height: .5rem;
			  border-radius: .25rem;
			  background: $color-black-md;
			  @include prefix("transition", all 0.15s ease, moz webkit o);

			  transform-origin: 100% 50%
			}

			@include arrowTransform( 40deg, 0, .1rem );

			&:hover {
			  @include arrowTransform( 30deg, 0, .1rem );
			}

			&:active {
			  @include arrowTransform( 25deg, 0rem, .1rem );
			}

			  


		}		
	}

	


}