/*******************slide-2-shop***********************/
.slide-2-shop {

	position: relative;


	&:hover .slide-2-shop__next,
	&:hover .slide-2-shop__prev {
		opacity: 1;
	}
	&__viewport {

		@include prefix("transition", all 1s ease, moz webkit o);

		li {
			display: none;
			-webkit-backface-visibility: hidden;
				
			img {
			  	// max-width: 100%;
			  	width: 100%;
				display: block;
			  	height: auto;
				@include prefix("user-select", none, moz webkit ms);

				@include responsive(SS){
					width: 260%;
				}
				@include responsive(XS){
					width: 260%;
				}
				@include responsive(SM){
					width: 200%; 
				}
				@include responsive(MD){
				}
				@include responsive(LG){
				}
				@include responsive(XL){
				}	  				
			}				

		}
	}
	&__side {
		position: relative;
	}
	&__img {

	}
	&__wrap {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		padding: 2.8rem 6rem;

		z-index: 99;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-end;

		@include responsive(SS){
			padding: 2.8rem 2.8rem;
		}
		@include responsive(XS){
			padding: 2.8rem 2.8rem;
		}
		@include responsive(SM){
		}
		@include responsive(MD){
		}
		@include responsive(LG){
		}
		@include responsive(XL){
		}	

	}


	&__direction-nav {

	}
	&__nav-prev {

	}
	&__prev {
		position: absolute;
		top: 50%;
		left: 2rem;
		opacity: 0;
		@include prefix("transform", translateY(-50%), moz webkit ms o);
		@include prefix("user-select", none, moz webkit ms);
		cursor: pointer;
		display: block;

		width: 4.8rem;
		height: 4.8rem;
		@include prefix("user-select", none, moz webkit ms);
		@include prefix("filter", drop-shadow( 0px 0px 2px rgba(0,0,0,0.1) ), webkit);

		@include prefix("transition", all .6s ease, moz webkit o);


		@include responsive(SS){
		}
		@include responsive(XS){
		}
		@include responsive(SM){
		}
		@include responsive(MD){
		}
		@include responsive(LG){
		}
		@include responsive(XL){
		}	


		&.showMxm {
			left: .4rem;
		}

		i {
			position: absolute;
			top: 2.1rem;
			left: 1rem;
			width: 2.2rem;
			height: .5rem;
			border-radius: .25rem;
			background: $color-white-hi;
			@include prefix("transition", all 0.15s ease, moz webkit o);

			transform-origin: 0% 50%
		}

		@include arrowTransform( 40deg, 0, -.1rem );

		&:hover {
			@include arrowTransform( 30deg, 0, -.1rem );
		}

		&:active {
			@include arrowTransform( 25deg, 0rem, -.1rem );
		}

	      

	    
  	}	
  	&__nav-next {

	}
	&__next {
		position: absolute;
		top: 50%;
		right: 2rem;
		opacity: 0;
		@include prefix("transform", translateY(-50%), moz webkit ms o);
		@include prefix("user-select", none, moz webkit ms);
		cursor: pointer;
		display: block;

		width: 4.8rem;
		height: 4.8rem;
		@include prefix("user-select", none, moz webkit ms);
		@include prefix("filter", drop-shadow( 0px 0px 2px rgba(0,0,0,0.1) ), webkit);

		@include prefix("transition", all .6s ease, moz webkit o);

		@include responsive(SS){
		}
		@include responsive(XS){
		}
		@include responsive(SM){
		}
		@include responsive(MD){
		}
		@include responsive(LG){
		}
		@include responsive(XL){
		}			

		&.showMxm {
		  right: .4rem;
		}

		i {
		  position: absolute;
		  top: 2.1rem;
		  right: 1rem;
		  width: 2.2rem;
		  height: .5rem;
		  border-radius: .25rem;
		  background: $color-white-hi;
		  @include prefix("transition", all 0.15s ease, moz webkit o);

		  transform-origin: 100% 50%
		}

		@include arrowTransform( 40deg, 0, .1rem );

		&:hover {
		  @include arrowTransform( 30deg, 0, .1rem );
		}

		&:active {
		  @include arrowTransform( 25deg, 0rem, .1rem );
		}

		  


	} 
	&__control-nav {

	    position: absolute;
	    bottom: 12%;
	    left: 50%;
	    @include prefix("transform", translateX(-50%), moz webkit ms o);

	    display: flex;
	    flex-direction: row;
	    justify-content: center;
	    align-items: center;

		li {
			a {
				text-indent: -9999px;
				display: block;
				cursor: pointer;
			    height: 1.2rem;
			    width: 1.2rem;
			    margin: 0 .4rem;
			    background-color: $color-white-md;
			    border-radius: .6rem;
			    @include prefix("user-select", none, moz webkit ms);
			    @include prefix("transition", all .6s ease 0s, moz webkit o);
			    &:hover {
			      background-color: $color-white-hi;
			    }
			    &.slide-2-shop__active {
			      width: 3.2rem;
			      background-color: $color-white-hi;
			      cursor: default;
			    }

			}
		}
	}


	
}