/*******************slide-show***********************/
.slide-show {
    max-width: 100%;
    margin: auto;  
    position: relative;

  &:hover &--prev {
    left: .4rem;
  } 
  &:hover &--next {
    right: .4rem;
  }

  &__container {
    display: none;
  }

  &__img {

    height: auto;
    margin: 0 auto;
    max-width: 100%;

    @include responsive(SS){
      max-width: 300%;
      @include prefix("transform", translateX(-33.333%), moz webkit ms o);
    }
    @include responsive(XS){
      max-width: 300%;
      @include prefix("transform", translateX(-33.333%), moz webkit ms o);
    }
    @include responsive(SM){
      max-width: 200%;
      @include prefix("transform", translateX(-25%), moz webkit ms o);
    }
    @include responsive(MD){
      max-width: 150%;
      @include prefix("transform", translateX(-16.677%), moz webkit ms o);
    }
    @include responsive(LG){
    }
    @include responsive(XL){
    } 

  }  
  &__wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__box {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    @include responsive(SS){
    }
    @include responsive(XS){
    }
    @include responsive(SM){
      max-width: 540px;
    }
    @include responsive(MD){
      max-width: 720px;
    }
    @include responsive(LG){
      max-width: 960px;
    }
    @include responsive(XL){
      max-width: 1170px;
    }     
    
  }



  &--prev {
    position: absolute;
    top: 50%;
    left: -2.8rem;
    // left: .4rem;
    @include prefix("transform", translateY(-50%), moz webkit ms o);
    @include prefix("user-select", none, moz webkit ms);
    cursor: pointer;
    display: block;

    width: 4.8rem;
    height: 4.8rem;
    @include prefix("user-select", none, moz webkit ms);
    @include prefix("filter", drop-shadow( 0px 0px 2px rgba(0,0,0,0.1) ), webkit);

    @include prefix("transition", all .6s ease, moz webkit o);

    &.showMxm {
      left: .4rem;
    }

    i {
      position: absolute;
      top: 2.1rem;
      left: 1rem;
      width: 2.2rem;
      height: .5rem;
      border-radius: .25rem;
      background: $color-white-hi;
      @include prefix("transition", all 0.15s ease, moz webkit o);

      transform-origin: 0% 50%
    }

    @include arrowTransform( 40deg, 0, -.1rem );

    &:hover {
      @include arrowTransform( 30deg, 0, -.1rem );
    }

    &:active {
      @include arrowTransform( 25deg, 0rem, -.1rem );
    }

      

    
  }
  &--next {
    position: absolute;
    top: 50%;
    right: -2.8rem;
    // right: .4rem;
    @include prefix("transform", translateY(-50%), moz webkit ms o);
    @include prefix("user-select", none, moz webkit ms);
    cursor: pointer;
    display: block;

    width: 4.8rem;
    height: 4.8rem;
    @include prefix("user-select", none, moz webkit ms);
    @include prefix("filter", drop-shadow( 0px 0px 2px rgba(0,0,0,0.1) ), webkit);

    @include prefix("transition", all .6s ease, moz webkit o);
    
    &.showMxm {
      right: .4rem;
    }

    i {
      position: absolute;
      top: 2.1rem;
      right: 1rem;
      width: 2.2rem;
      height: .5rem;
      border-radius: .25rem;
      background: $color-white-hi;
      @include prefix("transition", all 0.15s ease, moz webkit o);

      transform-origin: 100% 50%
    }

    @include arrowTransform( 40deg, 0, .1rem );

    &:hover {
      @include arrowTransform( 30deg, 0, .1rem );
    }

    &:active {
      @include arrowTransform( 25deg, 0rem, .1rem );
    }

      

    
  }
  &--icon {
    color: $color-white-md;
    font-size: 6rem;
    @include prefix("transition", all .3s ease 0s, moz webkit o);
  }
  &--main-dot {
    position: absolute;
    bottom: 12%;
    left: 50%;
    @include prefix("transform", translateX(-50%), moz webkit ms o);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

  }
  &--dot {
    cursor: pointer;
    height: 1.2rem;
    width: 1.2rem;
    margin: 0 .4rem;
    background-color: $color-white-md;
    border-radius: .6rem;
    @include prefix("user-select", none, moz webkit ms);
    @include prefix("transition", all .6s ease 0s, moz webkit o);
    &:hover {
      background-color: $color-white-hi;
    }
    &.active {
      width: 3.2rem;
      background-color: $color-white-hi;
      cursor: default;
    }

  }
  &--effect {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;

    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;


    // -webkit-animation-name: fade;
    // -webkit-animation-duration: 1.5s;
    // animation-name: fade;
    // animation-duration: 1.5s;    

    }
}


@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}




