/*******************team-meet***********************/

.team-meet {

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: stretch;
	flex-wrap: wrap;	

	margin-right: -15px;
	margin-left: -15px;


	&__wrap {
		position: relative;
		width: 100%;

	  	flex: 0 0 50%;
		max-width: 50%;

		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: stretch;
		flex-wrap: wrap;

		@include responsive(SS){
			flex: 0 0 100%;
  			max-width: 100%;
		}
		@include responsive(XS){
			flex: 0 0 100%;
			max-width: 100%;
		}
		@include responsive(SM){
			flex: 0 0 100%;
			max-width: 100%;
		}
		@include responsive(MD){
			flex: 0 0 100%;
			max-width: 100%;
		}
		@include responsive(LG){
		}
		@include responsive(XL){
		}		
		
		&:hover .team-meet__picture:before{
			
			@include effectZoomImg_placeInHover;
		}
		&:hover img{
			
			@include effectZoomImg_placeInHover;
		}	
		&:hover .team-meet__picture:after {
			@include effectShowHide_placeInHover;
			
		}	
		&:hover .team-meet__line {
			@include effectLineWd_placeInHover;
		}
		
	}
	
	&__side {
		position: relative;
		width: 100%;

	  	flex: 0 0 50%;
  		max-width: 50%;



		@include responsive(SS){
			flex: 0 0 100%;
  			max-width: 100%;
		}
		@include responsive(XS){
			flex: 0 0 100%;
  			max-width: 100%;
		}
		@include responsive(SM){
		}
		@include responsive(MD){
		}
		@include responsive(LG){
		}
		@include responsive(XL){
		}	
  		
	}
	&__side-info {
		position: relative;
		width: 100%;

	  	flex: 0 0 50%;
  		max-width: 50%;
		
		padding: 6.4rem 6.4rem;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		background-color: $color-white;		

		@include responsive(SS){
			flex: 0 0 100%;
  			max-width: 100%;
		}
		@include responsive(XS){
			flex: 0 0 100%;
  			max-width: 100%;			
		}
		@include responsive(SM){
			padding: 1.2rem 1.6rem;
		}
		@include responsive(MD){
			// padding: 1.2rem 1.6rem;
		}
		@include responsive(LG){
			padding: 1.2rem 1.6rem;
		}
		@include responsive(XL){
		}	
		@include responsiveMxm(XXL){
			padding: 1.2rem 1.6rem;
		}
  		
	}	
	&__picture {
		position: relative;
		display: block;
		overflow: hidden;
		z-index: 9;
		
		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba($color-grey-dark-v5, .1);
			z-index: 9;
			@include effectZoomImg_placeOutHover;
		}
		&:after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba($color-black, .5);
			z-index: 10;
			@include effectShowHide_placeOutHover;
		}
		img {
			height: auto;
			max-width: 100%;
			margin: 0 auto;
			@include effectZoomImg_placeOutHover;
		}
	}
	
	&__name {
		margin-bottom: 1.6rem;
		text-align: center;
		a {
			@include responsive(SS){
				@include typo-h6;
			}
			@include responsive(XS){
				@include typo-h6;
			}
			@include responsive(SM){
				@include typo-h6;
			}
			@include responsive(MD){
				// @include typo-h6;
			}
			@include responsive(LG){
				@include typo-h6;
			}
			@include responsive(XL){
			}
			@include responsiveMxm(XXL){
			}	
		}

	}
	&__paragraph {
		text-align: center;
	}
	&__line {
		width: 6rem;
		height: 1px;
		background-color: rgba($color-black, .12);
		margin: 1.6rem auto 1.6rem;
		@include effectLineWd_placeOutHover;
	}
	&__social {
		ul {
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: flex-start;
			li {
				
				a {
					i {
						font-size: 1.8rem;
						color: $color-black-hi;
						@include transition(.2s);
					}
					&:hover i {
						color: $color-black;
						@include prefix("transform", scale(1.2), moz webkit ms o);
					}
				}
			}

			li:not(:last-child) {
				margin-right: 1.6rem; 
			}

		}
	}
}

