/*******************tem***********************/
.tem {

	margin-bottom: 4rem;

	&:hover &__picture{
		@include prefix("transform", translateY(-20px), moz webkit ms o);
		@include elevation6;
	}

	&__side {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;

		h3 {
			text-align: center;
		}
	}
	&__picture {
		margin-bottom: 2rem;
		@include elevation2;

		@include prefix("transition", all 0.3s cubic-bezier(0.65, 0.05, 0.36, 1), moz webkit o);
		@include prefix("transform", translateY(0), moz webkit ms o);

		img {
			width: 100%;
			height: auto;
		}

	}
	&__name {  
		text-align: center;
	}
}