/*******************testimonial-one***********************/
.testimonial-one {
	&__slider {
		&:hover .testimonial-one__next,
		&:hover .testimonial-one__prev {
			opacity: 1;
		}

	}
	&__side {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

	}
	&__ico {
		margin-bottom: 2.8rem;
		i {
			font-size: 6rem;
			color: $color-primary-hi;
		}
	}
	&__content {
		text-align: center;
		width: 70%;
		margin-bottom: 3.6rem;
		@include responsive(SS){
			@include typo-subtitle1;
			width: 100%;
		}
		@include responsive(XS){
			@include typo-subtitle1;
			width: 100%;
		}
		@include responsive(SM){
			@include typo-subtitle1;
			width: 90%;
		}
		@include responsive(MD){
			@include typo-subtitle1;
			width: 90%;
		}
		@include responsive(LG){
			width: 90%;
		}
		@include responsive(XL){
		}		
	}
	&__author {
		text-align: center;
	}
	&__viewport {
		max-height: 40rem;
		@include prefix("transition", all 1s ease, moz webkit o);
		li {
			display: none;
			-webkit-backface-visibility: hidden;
				
			img {
			  	max-width: 100%;
				display: block;
			  	height: auto;
  				@include prefix("user-select", none, moz webkit ms);

				@include responsive(SS){
				}
				@include responsive(XS){
				}
				@include responsive(SM){
				}
				@include responsive(MD){
				}
				@include responsive(LG){
				}
				@include responsive(XL){
				}	  				
			}				

		}
	}	
	&__direction-nav {

	}
	&__nav-prev {

	}
	&__prev {
		position: absolute;
		top: 50%;
		left: -2rem;
		opacity: 0;
		@include prefix("transform", translateY(-50%), moz webkit ms o);
		@include prefix("user-select", none, moz webkit ms);
		cursor: pointer;
		display: block;

		width: 4.8rem;
		height: 4.8rem;
		@include prefix("user-select", none, moz webkit ms);
		@include prefix("filter", drop-shadow( 0px 0px 2px rgba(0,0,0,0.1) ), webkit);

		@include prefix("transition", all .6s ease, moz webkit o);


		@include responsive(SS){
			left: 1rem;
		}
		@include responsive(XS){
			left: 1rem;
		}
		@include responsive(SM){
		}
		@include responsive(MD){
		}
		@include responsive(LG){
		}
		@include responsive(XL){
		}	


		&.showMxm {
			left: .4rem;
		}

		i {
			position: absolute;
			top: 2.1rem;
			left: 1rem;
			width: 2.2rem;
			height: .5rem;
			border-radius: .25rem;
			background: $color-black-hi;
			@include prefix("transition", all 0.15s ease, moz webkit o);

			transform-origin: 0% 50%
		}

		@include arrowTransform( 40deg, 0, -.1rem );

		&:hover {
			@include arrowTransform( 30deg, 0, -.1rem );
		}

		&:active {
			@include arrowTransform( 25deg, 0rem, -.1rem );
		}

	      

	    
  	}	
  	&__nav-next {

	}
	&__next {
		position: absolute;
		top: 50%;
		right: -2rem;
		opacity: 0;
		@include prefix("transform", translateY(-50%), moz webkit ms o);
		@include prefix("user-select", none, moz webkit ms);
		cursor: pointer;
		display: block;

		width: 4.8rem;
		height: 4.8rem;
		@include prefix("user-select", none, moz webkit ms);
		@include prefix("filter", drop-shadow( 0px 0px 2px rgba(0,0,0,0.1) ), webkit);

		@include prefix("transition", all .6s ease, moz webkit o);

		@include responsive(SS){
			right: 1rem;
		}
		@include responsive(XS){
			right: 1rem;
		}
		@include responsive(SM){
		}
		@include responsive(MD){
		}
		@include responsive(LG){
		}
		@include responsive(XL){
		}			

		&.showMxm {
		  right: .4rem;
		}

		i {
		  position: absolute;
		  top: 2.1rem;
		  right: 1rem;
		  width: 2.2rem;
		  height: .5rem;
		  border-radius: .25rem;
		  background: $color-black-hi;
		  @include prefix("transition", all 0.15s ease, moz webkit o);

		  transform-origin: 100% 50%
		}

		@include arrowTransform( 40deg, 0, .1rem );

		&:hover {
		  @include arrowTransform( 30deg, 0, .1rem );
		}

		&:active {
		  @include arrowTransform( 25deg, 0rem, .1rem );
		}

		  


	} 
}